<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
  <% @grams.each do |gram| %>
  <div class="card">
    <div class="handle"><%= gram.user.email %></div>
    <div class="pop" style="text-align: center;">
      <%= image_tag gram.picture.url(:thumb), class: 'img-thumbnail mx-auto' %>
    <p class="cap">
      <%= gram.message %>
    </p>
    </div>
	<div class="gram-actions float-right">
		<% if current_user && current_user == gram.user %>
			<%= link_to 'Edit', edit_gram_path(gram) %>
            <%= link_to 'Destroy', gram_path(gram), method: :delete, data: {confirm: 'Are you sure?'} %>

		<% end %>
	</div>
	<br class="clear-fix" />
	<div class="comments">
		<h3>Comments</h3>
        <% gram.comments.each do |comment| %>
          <div class="comment">
            <span class="comment_handle">
              <%= comment.user.email %>
            </span>

            <%= comment.message %>
          </div>
        <% end %>
		<h4>Add a comment</h4>
		<%= simple_form_for Comment.new, url: gram_comments_path(gram) do |f| %>
			<%= f.input :message %>
			<%= f.submit 'Add Comment', class: 'my-btn' %>
		<% end %>
	</div>
  </div>
  <br />
  <% end %>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">              
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
        <p class="cappreview" style="text-align: center;"></p>
      </div>
    </div>
  </div>
</div>